#/*
#* Copyright 2008-2026 Anael MOBILIA
#*
#* This file is part of image-heberg.fr.
#*
#* image-heberg.fr is free software: you can redistribute it and/or modify
#* it under the terms of the GNU General Public License as published by
#* the Free Software Foundation, either version 3 of the License, or
#* (at your option) any later version.
#*
#* image-heberg.fr is distributed in the hope that it will be useful,
#* but WITHOUT ANY WARRANTY; without even the implied warranty of
#* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#* GNU General Public License for more details.
#*
#* You should have received a copy of the GNU General Public License
#* along with image-heberg.fr. If not, see <http://www.gnu.org/licenses/>
#*/

# Interdiction de lister le contenu des répertoires
Options -Indexes

# Ré-écriture d'URL
RewriteEngine On

# Redirection systématique - si requise - vers **www**.image-heberg.fr
RewriteCond %{HTTP_HOST} image-heberg\.fr\.cr [NC,OR]
RewriteCond %{HTTP_HOST} ^image-heberg\.fr [NC]
RewriteRule (.*) https://www.image-heberg.fr/$1 [R=301,L,NE]

# HTTPS obligatoire pour le site (hors affichage image)
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/files/
RewriteRule (.*) https://www.image-heberg.fr/$1 [R=301,L,NE]

# Protection des répertoires classes, config, cron, __tests
RewriteCond %{REQUEST_URI} ^/.github/ [OR]
RewriteCond %{REQUEST_URI} ^/__tests/ [OR]
RewriteCond %{REQUEST_URI} ^/classes/ [OR]
RewriteCond %{REQUEST_URI} ^/config/ [OR]
RewriteCond %{REQUEST_URI} ^/cron/ [OR]
RewriteCond %{REQUEST_URI} ^/.gitignore [OR]
RewriteCond %{REQUEST_URI} ^/.phpcs_ruleset.xml [OR]
RewriteCond %{REQUEST_URI} ^/database.sql [OR]
RewriteCond %{REQUEST_URI} ^/LICENSE [OR]
RewriteCond %{REQUEST_URI} ^/README.md
RewriteRule .* - [F]

# Bootstrap icons - fichiers de fonts
RewriteCond %{REQUEST_URI} ^/template/css/fonts/
RewriteRule .*/(fonts/.*) https://www.image-heberg.fr/template/$1 [L,NE]

# Favicon
RewriteCond %{REQUEST_URI} ^/favicon.ico
RewriteRule .* https://www.image-heberg.fr/template/images/monSite.ico [L,NE]

# Images : redirection pour affichage
RewriteCond %{REQUEST_URI} ^/files/
RewriteRule .* displayPics.php [END]