/*
 * Copyright 2008-2024 Anael MOBILIA
 *
 * This file is part of image-heberg.fr.
 *
 * image-heberg.fr is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * image-heberg.fr is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with image-heberg.fr. If not, see <http://www.gnu.org/licenses/>
 */

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* couleur par défaut */
.navbar, .footer {
    background-color: #f5f5f5;
}

/* affichage du container */
main.container-lg {
    /* Pour éviter que le contenu ne commence dans le header */
    padding: 60px 15px 0;
    /* Pour éviter que les contenus longs ne finissent dans le footer */
    margin-bottom: 60px;
}

/* Taille des textarea suite au form-floating */
textarea {
    min-height: 150px !important;
}

/* Pas de soulignage des liens */
a {
    text-decoration: none;
}