/*
 * Copyright 2008-2018 Anael Mobilia
 *
 * This file is part of image-heberg.fr.
 *
 * image-heberg.fr is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * image-heberg.fr is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with image-heberg.fr. If not, see <http://www.gnu.org/licenses/>
 */
html {
    /* Sticky footer */
    height: 100%;
}

body {
    /* Sticky footer */
    height: 100%;
    /* Hauteur de la navbar */
    padding-top: 50px;
}

#wrap {
    /* Sticky footer */
    min-height: 100%;
    height: auto;
    padding: 0 0 30px;
    margin: 0 auto -30px;
}

/* Couleur de fond image-heberg v1 like pour la barre de navigation & footer */
.navbar, footer {
    background-color: #ebf578;
}

/* Couleur du lien actif dans la barre de navigation */
.navbar-nav > .active > a {
    background-color: #bfd83e !important;
    color: white !important;
    font-weight: bold !important;
}

/* Réduction des marges du jumbotron */
.jumbotron {
    padding-bottom : 10px !important;
    padding-top: 0px !important;
}