body {
    /* Hauteur de la navbar */
    padding-top: 50px;
}

#wrap {
    /* Diminution des marges avant le footer */
    margin: 0 auto -10px;
}

/* Couleur de fond image-heberg v1 like pour la barre de navigation & footer */
.navbar, footer {
    background-color: #ebf578;
}

/* Couleur du lien actif dans la barre de navigation */
.navbar-nav > .active > a {
    background-color: #bfd83e !important;
    color: white !important;
    font-weight: bold !important;
}

/* Réduction des marges du jumbotron */
.jumbotron {
    padding-bottom : 10px !important;
    padding-top: 0px !important;
}