/*
* Copyright 2008-2015 Anael Mobilia
*
* This file is part of NextINpact-Unofficial.
*
* NextINpact-Unofficial is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextINpact-Unofficial is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextINpact-Unofficial. If not, see <http://www.gnu.org/licenses/>
*/
/*
 *
 * CODE GENERIQUE A TOUS LES TEMPLATES
 *
 * */
body {
	position: relative;
	width: 885px;
	margin: auto;
	font-size: 12px;
	font-family: Arial, "Times New Roman";
	text-align: justify;
}
#header {
	text-indent: -9000px;
	margin: auto;
}
#menu {
	float: left;
	width: 110px;
}
#menu ul {
	margin: 0;
	padding: 0;
}
#menu li {
	margin-left: 20px;
}
#info {
	background-color: #606060;
	padding: 10px;
	border: 3px solid gray;
	color: white;
	text-align: center;
}
#info_erreur {

}
#info_ok {

}
#corps {
	float: right;
}
#footer {
	clear: both;
	color: #939393;
	text-align: center;
}
h2 {
	font-size: 13px;
	border-bottom: 1px dotted #969696;
}
a {
	border-bottom: 1px dotted;
	text-decoration: none;
}
a:hover {
	border-bottom: none;
}
/*
 *
 * CODE PARTICULIER AU PRESENT TEMPLATE
 *
 */
body {
	background: #B3B3B3 url(images/background.jpg) repeat-x;
	color: #969696;
}
#conteneur {
	background: url(images/body.jpg) repeat-y;
}
#header {
	height: 178px;
	background-image: url(images/header.jpg);
}
#menu {
	padding-left: 125px;
}
#corps {
	padding-right: 135px;
	width: 500px;
}
#footer {
	height: 73px;
	background-image: url(images/footer.jpg);
}
/*mise en page */
a {
	color: #7ADD48;
}
a:hover {
	color: #00FF00;
}